<p><b>Manage doctor's vacation</b></p>
<img src="/assets/images/vacation.jpg" alt="Vacation">
<br><br><label style="font-size:130%;"><b> Vacation:</b> </label>
<input type="text" id="vacationDescription" name="vacationDescription" *ngIf="vacationDescription != null" [(ngModel)]="vacationDescription">
<br><br>
<label style="font-size:130%;"><b> Vacation starts:</b> </label>
<input type="text" id="startTime" name="startTime" *ngIf="startTime != null" [(ngModel)]="startTime">
<br><br>
<label style="font-size:130%;"><b> Vacation ends:</b> </label>
<input type="text" id="endTime" name="endTime" *ngIf="endTime != null" [(ngModel)]="endTime">
<br><br>

<button id='save'>Change vacation</button>