<app-header></app-header>

<div class="container spacing-up">
    <table class="w3-table-all w3-card-4">
        <thead>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj otkazanih termina</th>
            <th>Ban/Unban</th>
        </thead>
        <tbody *ngFor='let dto of dtos'>
            <tr [style.background-color] = "color(dto.numOfAppointment)">
                <td>{{dto.patient.name}}</td>
                <td>{{dto.patient.lastName}}</td>
                <td>{{dto.numOfAppointment}}</td>
                <td *ngIf='!dto.patient.isBanned'>
                    <button class="w3-hover-white w3-button w3-round w3-black w3-small" (click)="banPatient(dto.patient.id)" >Ban</button>
                </td>
                <td *ngIf='dto.patient.isBanned'>
                    <button class="w3-hover-white w3-black w3-round w3-button w3-small" (click)="unbanPatient(dto.patient.id)">Unban</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>