<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1 style="font-size:200%;"><b>Move Equipment</b></h1>



  <label  style="font-size: 130%;" for="equipments"><b>Equipment:</b></label>
  <input [(ngModel)] = "equipment.name" type="text" ><br><br>
  <br><br>

  <label style="font-size:130%;"for="startingRooms"> <b>Starting room:</b></label>
  <input type="text" [(ngModel)] = "equipment.room.name" ><br><br>
  <br><br>

  <label style="font-size:130%;" for="amountEquipment"> <b>Amount of equipment:</b></label>
  <input type="number" [(ngModel)] = "equipment.amount"  min="1" >
  <br><br>

  <label style="font-size:130%;" for="destinationRooms"><b>Destination room:</b> </label>
  <select  name="destinationRooms" id="destinationRooms">
    <option *ngFor="let room of rooms"  [value]="room.name">{{room.name}}</option>
  </select>
  <br><br>

  <label style="font-size:130%;" for="relocationTime"><b>Time of relocation:</b></label>
  <input type="datetime-local" id="relocationTime" name="relocationTime">
 <br><br>

  <label style="font-size:130%;" for="durationRelocation"><b>Duration of relocation:</b> </label>
  <select name="durationRelocation" id="durationRelocation">
    <option value="10min">10 minutes</option>
    <option value="30min">30 minutes</option>
    <option value="1hour">1 hour</option>
    <option value="1day">1day</option>
  </select>
  <br><br>

 

  <input type="submit" value="Submit">


</body>
</html>