<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1 style="font-size:200%;"><b>Move Equipment</b></h1>

  <label  style="font-size: 130%;" for="equipments"><b>Equipment:</b></label>
  <select name="equipmemts" id="equipments">
    <option value="needles">Needles</option>
    <option value="scalpels">Scalpels</option>
    <option value="medicalGaze">Medical gazes</option>
    <option value="x-ray">X-Rays</option>
  </select>
  <br><br>

  <label style="font-size:130%;"for="startingRooms"> <b>Starting room:</b></label>
  <select name="startingRooms" id="startingRooms">
    <option value="office">Ambulance-Office 1</option>
    <option value="office">Main Hospital Building-Office 2</option>
    <option value="radiology">Laboratory-Radiology room 1</option>
    <option value="operationRoom">Ambulance-Operating room 1</option>
  </select>
  <br><br>

  <label style="font-size:130%;" for="amountEquipment"> <b>Amount of equipment:</b></label>
  <input type="number" id="amountEquipment" name="amountEquipment" min="1" max="200">
  <br><br>

  <label style="font-size:130%;" for="destinationRooms"><b>Destination room:</b> </label>
  <select name="destinationRooms" id="destinationRooms">
    <option value="office">Ambulance-Office 1</option>
    <option value="office">Main Hospital Building-Office 2</option>
    <option value="radiology">Laboratory-Radiology room 1</option>
    <option value="operationRoom">Ambulance-Operating room 1</option>
  </select>
  <br><br>

  <label style="font-size:130%;" for="relocationTime"><b>Time of relocation:</b></label>
  <input type="datetime-local" id="relocationTime" name="relocationTime">
 <br><br>

  <label style="font-size:130%;" for="durationRelocation"><b>Duration of relocation:</b> </label>
  <select name="durationRelocation" id="durationRelocation">
    <option value="10min">10 minutes</option>
    <option value="30min">30 minutes</option>
    <option value="1hour">1 hour</option>
    <option value="1day">1day</option>
  </select>
  <br><br>

  <label style="font-size:130%;" for="freeTerms"> <b>Free terms for relocation:</b></label>
  <select name="freeTerms" id="freeTerms">
    <option value="term1">25.12.2021.(13:00-14:00)</option>
    <option value="term2">26.12.2021.(15:00-15:30)</option>
    <option value="term3">27.12.2021. - 28.12.2021.</option>
    <option value="term4">28.12.2021.(12:00-12:10)</option>
  </select>
  <br><br>

  <input type="submit" value="Submit">



</body>
</html>